<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528052100662-vs3gs2tf8ee5ecaticr05k72drlcogn1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528052100662-vs3gs2tf8ee5ecaticr05k72drlcogn1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>528052100662-1gr2kfn6bv6mp9c4l6iv5m32qpcm3uav.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ9lPuSJgYSXOps_FrWWQ37haDLlhdeFM</string>
	<key>GCM_SENDER_ID</key>
	<string>528052100662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bbuddy.bbuddycoaching</string>
	<key>PROJECT_ID</key>
	<string>bbuddy-c1de3</string>
	<key>STORAGE_BUCKET</key>
	<string>bbuddy-c1de3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528052100662:ios:0a1c75b387dc5b7aea4297</string>
</dict>
</plist>